﻿@page
@model IndexModel
@{
    ViewData["Title"] = "欢迎使用微信云托管";
}

<div class="container">
    <div class="title">
        <img class="title-logo"
             src="https://static-index-4gtuqm3bfa95c963-1304825656.tcloudbaseapp.com/official-website/favicon.svg" />
        <div class="title-text">欢迎使用Express lookup</div>
    </div>
    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; margin: 0">
        <span class="phone-text">
            <span class="label">请输入手机号:</span>
            <input class="phone-number" type="text" />
            @*<span class="phone-reset" onclick="clear()">清除</span>*@
        </span>
        <a class="btn btn-success btn-lg count-button" style="background: #07c160; border: 0; font-size: 17px"
           onclick="lookup()">查询</a>
        <div class="card" style="width: 320px; margin-bottom: 48px;">
            <div class="card-body">
                <img class="qrcode middle"
                     src="https://qcloudimg.tencent-cloud.cn/raw/89b46988d3cd73d8a56e76a1b82bb377.png" />
                <small class="card-text" style="display: flex; justify-content: center; margin-top: 8px">扫码加入Express lookup用户群</small>
            </div>
        </div>
        <span class="express-text">
            <span class="label">快递名称与单号:</span>
            <span class="express-number"></span>
        </span>
    </div>
</div>
